body {
  margin: 0;
  font-family: 'New Century Schoolbook', 'TeX Gyre', 'Schola', 'serif';
  font-weight: 800;
  font-stretch: semi-expanded;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
